body {
  background-color: rgba(20, 20, 20, 0);
  font-family: Arial, Helvetica, sans-serif;
}

#firts-page{
  background-color: black;
 margin: -3%;
 height: 100%;
}

#header1 {
  width: 100%;
  height: 120px;
  background-color: black;
}

#logo {
  margin-top: 15px;
  margin-left: 15px;
}

#next{
  border-radius: 20px;
  width: 150px;
  height: 50px;
  margin-left: 82%;
}

.slider {
  width: 1000px;
  height: 800px;
  margin: auto;
  margin-top: 34px;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: changee 10s infinite;
}

.slider li {
  list-style: none;
}

.images {
  width: 980px;
  height: 550px;
}

.select-tags {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  display:inline-block;
  margin-top: 10px;
  margin-left: 30px;
}

.second-page{
  background-color:#cda434;
}

#root {
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
margin: 20px;
}

.imagen-lol {
  width: 210px;
  height: 200px;
  border-radius: 10px;
}

.flip-card {
  background-color:#cda434;
  width: 210px;
  height: 270px;
  margin-top: 50px;
  border-radius: 30px;
  margin-top: 50px;
}

.flip-card-inner {
  position: relative;
  width: 10%;
  height: 10%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: relative;
  width: 10%;
  height: 10%;
  backface-visibility: hidden;
}


.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

/* Es para dar animaciones especificamente */
@keyframes changee {
  0% { margin-left: 0;}
  20% {margin-left: 0;}
  25% {margin-left: -100%; }
  45%{margin-left: -100%;}
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  75%{margin-left:-300%;}
  100%{margin-left:-300;}
}