body{
    background-color:#D1C4E9;
}
#btn-go{
    width: 90px;
    height:40px ;
    border-radius: 20px;
}

.select-tags{
    width: 150px;
    height:40px ;
    border-radius: 20px;
}

.ip-card {
    background-color: #2980b9;
    width: 300px;
    height: 300px;
    perspective: 100px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 10%;
    height: 10%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */
  
  .flip-card-front, .flip-card-back {
    position:relative;
    width: 10%;
    height: 10%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    /* transform: rotateY(180deg); */
  }